body{
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%) );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}

.container{
    background-color: white;
    width: 915px ;
    border-radius: 20px;
    display: grid;
    grid-template-columns:45% 55% ;
}
.containerLeft{
    grid-column: 1;
    position: relative;
    background: url(./images/bg-pattern-desktop.svg) no-repeat;
    background-position: -410px -200px;
    background-size: 800px;
}

.girl{
    background: url(./images/illustration-woman-online-desktop.svg) no-repeat;
    width: 400px;
    height: 470px;
    background-position: -80px;
}

.containerLeft .box{
    position: absolute;
    width: 180px;
    left: -89px;
    top: 200px;
    
}

.containerRight{
    grid-column: 2;
    margin: 20px;
    cursor: pointer;
}

h1 {
    margin: 40px 40px 20px 30px;
}

.faq{
    border-bottom: solid 2px hsl(240, 5%, 91%);
    margin: 0px 70px 0px 30px;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.icon{
    height: 10px;
}

.containerRight h2{
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    color: hsl(237, 12%, 33%);
}

.containerRight .texto{
    font-size: 12px;
    color:hsl(240, 6%, 50%);
    overflow: hidden;
    text-align: justify;
    transition: all 1s ease;
    margin: 0;
    height: 0;
}

.h2:hover{
    color: hsl(14, 88%, 65%) ;
}

.faq.activo .h2{
    font-weight: 700;
}

.faq.activo .icon{
    transform:rotate(180deg)

}

.faq.activo .texto{
    height: 50px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width:768px){

    body{
        height: 100%;
    }
    .container{
        grid-template-columns: auto;
        grid-template-rows: 20% 70%;
        height: 600px;
        margin-top: 150px;
        width: 400px;
    }
    
    .containerLeft{
        grid-row: 1;
        grid-column: 1;
        background-size: 300px;
        background-position: center bottom
    }

    .girl{
        background-position:center center;
        background-size: 300px;
        width: 400px;
        height: 250px;
        position: relative;
        top:-150px
    }

    .containerLeft .box{
        width: 100px;
        left: 50px;
        top:-40px
    }

    .containerRight{
        grid-row: 2;
        grid-column: 1;
    }

    h1{
        text-align: center;
        margin-top: 0px ;
    }

    .faq{
        margin: 0px 10px 0px 10px;
    }    
}